<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="FarCaster AppStore"/>
    <meta property="og:image" content="{{ image_url }}"/>

    <meta property="fc:frame" content="vNext"/>
    <meta property="fc:frame:image" content="{{ image_url }}"/>
    <meta property="fc:frame:post_url" content="{{ post_url }}"/>
    <meta property="fc:frame:button:1" content="Find another App"/>
    <meta property="fc:frame:button:2" content="Visit App"/>
    <meta property="fc:frame:button:2:action" content="post_redirect" />
    <meta property="fc:frame:button:3" content="Re-Cast"/>
    <meta property="fc:frame:button:3:action" content="post_redirect" />

    <title>Roast Card</title>
 </head>
  <body>
<p>Hello Frames</p>
  </body>
</html>